#ItemContainer {
  margin: 1rem;
}

.ItemInput {
  background-color: #fff;
  padding-left: 2rem;
  border: 1px solid #b2bbd580;
  color: #99a4c2;
}

.ItemInput.Manual {
  color: #2a3558;
}

#BudgetInputContainer {
  position: relative;
}
#BudgetInputContainer::before {
  content: '$';
  display: inline-block;
  position: absolute;
  left: 10px;
  font-weight: 700;
  font-size: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
}
