#DropdownMenuContainer {
  position: absolute;
  right: 10px;
  top: 13px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#VectorIcon {
  height: 5px;
  cursor: pointer;
}

#DropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  height: 92px;
  border: 1px solid #b2bbd580;
  z-index: 999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.DropdownItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
}

.DropdownItem:hover {
  background: #fde8ea;
  color: #ee2032;
  font-weight: 700;
}
