#BudgetItemsContainer {
    display: flex;
    flex-wrap: wrap;
}


#BudgetDataContainer {
    background: linear-gradient(0deg, rgba(178, 187, 213, 0.5), rgba(178, 187, 213, 0.5)),linear-gradient(0deg, #F5F6FA, #F5F6FA);
    padding: .5rem;
    width: 80%;

}

#BreakdownTitle {
  font-size: 1rem;
  font-weight: 600;
}

#BreakdownText {
    font-size: .8rem;
    font-weight: 400;

}