.HeaderContainer {
  display: flex;
  margin-bottom: 2rem;
}

.TextContainer,
.BtnContainer {
  flex: 1;
}

#MainTitle {
  font-size: 24px;
  font-weight: 600;
}

#SubTitle {
  margin: 1.5rem 0 1rem 0;
  font-size: 18px;
  font-weight: 600;
}

#HeaderText {
  font-size: 14px;
  color: #99a4c2;
}

.BtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#AddChannelBtn {
  width: 123px;
  height: 40px;
  border: 1px solid #b2bbd580;
  box-shadow: 0px 1px 2px 0px #e6e8f0;
  background: linear-gradient(360deg, #fafafc 0%, #ffffff 100%);
  color: #707ea7;
  font-size: 0.8rem;
}
